package ${package.Controller}${cfg.packagePath};

import lombok.AllArgsConstructor;
import org.springframework.web.bind.annotation.*;

/**
 * @author Wenk.Chan
 */
@RestController
@AllArgsConstructor
@RequestMapping("/${cfg.controllerPath}")
public class ${table.controllerName} {


}
