<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.client.auth.account.ClientAuthAccountMapper">
    <resultMap id="ClientAuthAccountMap" type="com.kk.mall.api.biz.client.auth.account.ClientAuthAccount">
        <id column="id" property="id"/>
        <result column="client_id" property="clientId"/>
        <result column="credential" property="credential"/>
        <result column="account" property="account"/>
        <result column="token" property="token"/>
        <result column="refresh_token" property="refreshToken"/>
        <result column="token_expire_time" property="tokenExpireTime"/>
        <result column="refresh_token_expire_time" property="refreshTokenExpireTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="version" property="version"/>
    </resultMap>



</mapper>
