<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.set.series.ItemSetSeriesMapper">
    <resultMap id="ItemSetSeriesMap" type="com.kk.mall.api.biz.item.set.series.ItemSetSeries">
        <id column="id" property="id"/>
        <result column="series_name" property="seriesName"/>
        <result column="series_en_name" property="seriesEnName"/>
        <result column="series_image_url" property="seriesImageUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="valid" property="valid"/>
        <result column="series_description" property="seriesDescription"/>
    </resultMap>
</mapper>
