<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.specs.value.ItemSpecsValueMapper">
    <resultMap id="ItemSpecsValueMap" type="com.kk.mall.api.biz.item.specs.value.ItemSpecsValue">
        <id column="id" property="id"/>
        <result column="item_specs_key_id" property="itemSpecsKeyId"/>
        <result column="specs_value" property="specsValue"/>
        <result column="item_product_id" property="itemProductId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="getSpecsList" resultType="com.kk.mall.api.biz.item.specs.SpecsVo">
        select
        specs_value.item_product_id as itemProductId,
        specs_key.specs_key as specsKey,
        specs_value.specs_value as specsValue
        from t_item_specs_value specs_value
        left join t_item_specs_key specs_key on specs_value.item_specs_key_id = specs_key.id
        where specs_value.item_product_id in
        <foreach item="itemProductId" collection="itemProductIdList" separator="," open="(" close=")" index="">
            #{itemProductId}
        </foreach>
    </select>
</mapper>
