<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.spu.attr.key.ItemSpuAttrKeyMapper">
    <resultMap id="ItemSkuAttrKeyMap" type="com.kk.mall.api.biz.item.spu.attr.key.ItemSpuAttrKey">
        <id column="id" property="id"/>
        <result column="attr_key" property="attrKey"/>
        <result column="attr_icon_url" property="attrIconUrl"/>
        <result column="numerical" property="numerical"/>
        <result column="numerical_search_segment" property="numericalSearchSegment"/>
        <result column="sort" property="sort"/>
        <result column="valid" property="valid"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="searchable" property="searchable"/>
    </resultMap>
</mapper>
