<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.set.series.spu.relation.ItemSetSeriesSpuRelationMapper">
    <resultMap id="ItemSetSeriesSpuRelationMap" type="com.kk.mall.api.biz.item.set.series.spu.relation.ItemSetSeriesSpuRelation">
        <id column="id" property="id"/>
        <result column="spu_id" property="spuId"/>
        <result column="series_id" property="seriesId"/>
    </resultMap>
</mapper>
