<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.tag.ItemTagMapper">
    <resultMap id="ItemTagMap" type="com.kk.mall.api.biz.item.tag.ItemTag">
        <id column="id" property="id"/>
        <result column="tag_name" property="tagName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="sort" property="sort"/>
        <result column="valid" property="valid"/>
    </resultMap>
</mapper>
