<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kk.mall.api.biz.item.product.tag.relation.ItemProductTagRelationMapper">
    <resultMap id="ItemProductTagRelationMap" type="com.kk.mall.api.biz.item.product.tag.relation.ItemProductTagRelation">
        <id column="id" property="id"/>
        <result column="item_product_id" property="itemProductId"/>
        <result column="item_tag_id" property="itemTagId"/>
        <result column="main_image_url" property="mainImageUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="valid" property="valid"/>
    </resultMap>
</mapper>
